aioredis==1.3.1
aldjemy==0.8.0
amqp==2.5.2
antiorm==1.2.1
asgi-redis==1.2.0
asgiref==2.3.2
asn1crypto==1.2.0
astroid==2.3.3
async-timeout==2.0.1
attrs==19.3.0
autobahn==20.6.2
Automat==20.2.0
beautifulsoup4==4.8.2
billiard==3.6.1.0
bs4==0.0.1
celery==4.4.0
certifi==2019.11.28
cffi==1.13.2
channels==2.1.2
channels-redis==2.3.2
chardet==3.0.4
Click==7.0
constantly==15.1.0
crypto==1.4.1
cryptography==2.9.2
cycler==0.10.0
daphne==2.5.0
db==0.1.1
db-sqlite3==0.0.1
decorator==4.4.1
Django==1.11.7
django-bulk-update==2.2.0
django-channels==0.7.0
django-cors-headers==2.1.0
djangorestframework==3.7.3
djangorestframework-jwt==1.11.0
docopt==0.6.2
ecdsa==0.15
entrypoints==0.3
flake8==3.7.9
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
geopy==1.18.1
hiredis==1.1.0
hyperlink==19.0.0
idna==2.6
importlib-metadata==1.3.0
incremental==17.5.0
inflect==0.2.5
isort==4.3.21
kiwisolver==1.1.0
kombu==4.6.7
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.0.2
msgpack==0.5.6
msgpack-python==0.5.6
Naked==0.1.31
nexmo==2.4.0
num2words==0.5.10
numpy==1.17.4
oauthlib==3.1.0
opentok==2.10.0
packaging==20.3
pathlib2==2.3.5
patsy==0.5.1
pdf2image==1.11.0
pdfkit==0.6.1
Pillow==5.0.0
pluggy==0.13.1
psycopg2==2.7.3.2
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.4.3
pyflakes==2.1.1
pygeoip==0.3.2
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint==2.4.4
pyOpenSSL==19.1.0
pyparsing==2.4.6
PyPDF2==1.26.0
pypng==0.0.20
PyQRCode==1.2.1
pytest==5.4.1
python-dateutil==2.8.1
python-debian==0.1.36
python-jose==3.1.0
python-systemd==0.0.9
pytz==2019.3
pyxdg==0.26
PyYAML==5.2
ratelim==0.1.6
redis==3.5.3
reportlab==3.5.34
requests==2.18.4
requests-oauthlib==1.3.0
rsa==4.6
scipy==1.4.1
selenium==3.141.0
service-identity==18.1.0
shellescape==3.4.1
six==1.13.0
soupsieve==1.9.5
SQLAlchemy==1.3.11
sqlparse==0.3.0
statsmodels==0.10.2
text-unidecode==1.2
titlecase==0.12.0
Twisted==20.3.0
txaio==20.4.1
typed-ast==1.4.1
uritemplate==3.0.0
urllib3==1.22
vincent==0.4.4
vine==1.3.0
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.12.2
wkhtmltopdf==0.2
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.0.2
zipp==0.6.0
zope.interface==5.1.0
